@using Microsoft.AspNetCore.SignalR.Client
@using KnaagdierenMarktGame.Shared
@using KnaagdierenMarktGame.Client.Classes
@using Newtonsoft.Json
@using System.Timers
@inject GameConnection gameConnection
@inject GameState gameState
<h3>Auction</h3>
@if (gameState.CurrentPlayer != null && gameState.User == gameState.CurrentPlayer)
{
    <button @onclick="OnAuctionClick">Auction</button>
    @if (AuctionedAnimalCard != null)
    {
        <button @onclick="BeginCountdown">Begin Countdown</button>
    }
    @if (HighestOffer > 0 && CountdownTimer == 0)
    {
        <button @onclick="OnAcceptOffer">Accept Offer</button>
        @*<button @onclick="OnRightOfSale">Right of Sale</button>*@
    }
}
else if (AuctionedAnimalCard != null && gameState.User != gameState.CurrentPlayer)
{
    <div class="form-group">
        <label>
            Group:
            <input @bind="UserOffer" @bind:event="oninput" size="50" step="10" />
        </label>
    </div>
    <button @onclick="OnMakeOffer" disabled="@(UserOffer <= HighestOffer)">Make offer</button>
}
<p>@TotalAmoutOfMoney</p>
@if (AuctionedAnimalCard != null)
{
    <label>New card</label>
    <p>@AuctionedAnimalCard.AnimalType</p>
    <p>@AuctionedAnimalCard.Value</p>
    <label>Current offer</label>
    <p>@HighestOffer</p>
    if (HighestOfferPlayer != null)
    {
        <p>@HighestOfferPlayer.Name</p>
    }
    <label>Available Time</label>
    <p>@CountdownTimer</p>
    if (ShowMoneySelectors)
    {
        <MoneySelectors MoneyCards="@gameState.User.MoneyCards" @bind-ChosenMoneyCards="ChosenMoneyCards" />
        foreach (KeyValuePair<int, int> a in ChosenMoneyCards)
        {
            <p>@a.Key ... @a.Value</p>
        }
        if (MatchesOffer)
        {
            <button @onclick="OnPayOffer">Pay</button>
        }
    }
}


@code {
    public int HighestOffer { get; set; } = 0;

    public bool ShowMoneySelectors { get; set; } = false;

    public bool MatchesOffer => (int)ChosenMoneyCards.Sum(a => (a.Key * a.Value)) >= HighestOffer;

    public int TotalAmoutOfMoney { get => gameState.User.MoneyCards.Aggregate((value, total) => total += value); }

    public List<int> OfferedMoneyCards = new List<int>();

    public int UserOffer { get; set; }

    public Player HighestOfferPlayer { get; set; }

    public List<Player> Disqwalified { get; set; } = new List<Player>();

    public AnimalCard AuctionedAnimalCard { get; set; }

    public Dictionary<int, int> ChosenMoneyCards = new Dictionary<int, int>();

    public int CountdownTimer { get; set; } = 0;

    public Timer Timer { get; set; }


    public int TestCounter { get; set; } = 0;

    protected override void OnInitialized()
    {
        gameConnection.OnNewNewMessage += HandleMessage;
        gameState.OnPropertyChanged += UpdateScreen;
        base.OnInitialized();
    }

    public async Task UpdateScreen(object ob) => StateHasChanged();

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected async Task HandleMessage(Message message)
    {
        TestCounter++;
        Console.WriteLine("FROM HANDLEMESSAGE" + TestCounter);
        switch (message.MessageType)
        {
            case MessageType.BeginCountdown: StartCountdown(); break;
            case MessageType.MakeAuctionOffer: MakeActionOffer(message); break;
            case MessageType.AcceptAuctionOffer: AcceptOffer(message); break;
            case MessageType.PayOffer: PayOffer(message); break;
            case MessageType.PulledAuctionCard: await PulledActionCard(message); break;
            case MessageType.NextPlayer: gameState.CurrentPlayer = gameState.Players.First(player => player.Name == message.Objects[0].ToString()); break;
            case MessageType.RightOfSale:  break;
        }
        StateHasChanged();
    }

    public async void BeginCountdown()
    {
        await SendSimpleMessage(MessageType.BeginCountdown);
    }

    public void HandleTimer(object sender, ElapsedEventArgs e)
    {
        CountdownTimer--;
        if (CountdownTimer < 1)
        {
            Timer.Stop();
        }
        StateHasChanged();
    }

    public async Task PulledActionCard(Message message)
    {
        AuctionedAnimalCard = JsonConvert.DeserializeObject<AnimalCard>(message.Objects[0].ToString());
        System.Diagnostics.Debug.WriteLine("BEFORE Amount of cards: " + gameState.RemainingAuctionCards.Count());
        //gameState.RemainingAuctionCards.Remove(AuctionedAnimalCard);
        System.Diagnostics.Debug.WriteLine("AFTER Amount of cards: " + gameState.RemainingAuctionCards.Count());
        //gameState.CurrentState = Enums.States.Auction;
    }

    public void MakeActionOffer(Message message)
    {
        int newOffer = JsonConvert.DeserializeObject<int>(message.Objects[0].ToString());
        if (HighestOffer < newOffer)
        {
            HighestOfferPlayer = gameState.Players.First(Player => Player.Name == message.Sender);
            HighestOffer = newOffer;
        }
    }

    public void AcceptOffer(Message message)
    {
        if (HighestOfferPlayer.MoneyCards.Aggregate((value, total) => total += value) >= HighestOffer)
        {
            if (HighestOfferPlayer == gameState.User)
            {
                ShowMoneySelectors = true;
            }
        }
        else
        {
            HighestOffer = 0;
            HighestOfferPlayer = null;
            Disqwalified.Add(HighestOfferPlayer);
            message.Objects.Add(HighestOfferPlayer);
        }
    }

    public void StartCountdown()
    {
        CountdownTimer = 3;
        Timer = new Timer(2000);
        Timer.Elapsed += HandleTimer;
        Timer.Start();
    }

    public void PayOffer(Message message)
    {
        List<int> payment = JsonConvert.DeserializeObject<List<int>>(message.Objects[0].ToString());

        UpdatePlayersMoneyCards(payment, message.Sender);
        ResetAuction();

        if (gameState.CurrentPlayer.Name == gameState.User.Name)
        {
            gameState.NextPlayer();
        }
        gameState.CurrentState = Enums.States.None;
    }

    public void UpdatePlayersMoneyCards(List<int> payment, string sender)
    {
        gameState.CurrentPlayer.MoneyCards.AddRange(payment);
        if (gameState.CurrentPlayer == gameState.User) { gameState.User = gameState.CurrentPlayer; }

        Player winningPlayer = gameState.Players.First(player => player.Name == sender);
        winningPlayer.MoneyCards = SubtractListFromList(winningPlayer.MoneyCards, payment);
        winningPlayer.AnimalCards.Add(AuctionedAnimalCard);
        if (winningPlayer == gameState.User) { gameState.User = winningPlayer; }
    }

    public void ResetAuction()
    {
        AuctionedAnimalCard = null;
        HighestOffer = 0;
        HighestOfferPlayer = null;
        ShowMoneySelectors = false;
        ChosenMoneyCards.Clear();
    }

    public List<int> SubtractListFromList (List<int> listA, List<int> listB)
    {
        foreach (int number in listB)
        {
            if (listA.Contains(number))
            {
                listA.Remove(number);
            }
        }
        return listA;
    }

    public async Task OnAuctionClick()
    {
        Random random = new Random();
        AuctionedAnimalCard = gameState.RemainingAuctionCards[random.Next(gameState.RemainingAuctionCards.Count())];
        //GameState.RemainingAuctionCards.Remove(AuctionedAnimalCard);
        //HighestOffer = 0;
        Message message = new Message() { MessageType = MessageType.PulledAuctionCard, Sender = gameState.User.Name };
        message.Objects.Add(AuctionedAnimalCard);
        await gameConnection.HubConnection.SendAsync("SendMessage", message);
    }

    public async Task OnCountdownClick()
    {
        await SendSimpleMessage(MessageType.BeginCountdown);
    }

    public async Task OnMakeOffer()
    {
        Message message = new Message() { MessageType = MessageType.MakeAuctionOffer, Sender = gameState.User.Name };
        message.Objects.Add(UserOffer);
        await gameConnection.HubConnection.SendAsync("SendMessage", message);
    }

    public async Task OnAcceptOffer()
    {
        if (HighestOfferPlayer.MoneyCards.Aggregate((value, total) => total += value) >= HighestOffer)
        {
            await SendSimpleMessage(MessageType.AcceptAuctionOffer);
        }
        else
        {
            HighestOffer = 0;
            Disqwalified.Add(HighestOfferPlayer);
            Message message = new Message() { MessageType = MessageType.FailedOffer, Sender = gameState.User.Name };
            message.Objects.Add(HighestOfferPlayer);
            await gameConnection.HubConnection.SendAsync("SendMessage", message);
        }
    }

    public async Task OnRightOfSale(Player player, List<int> moneyCards)
    {
        await SendMoneyCards(MessageType.RightOfSale, moneyCards);
    }

    public async Task OnPayOffer()
    {
        OfferedMoneyCards = new List<int>();
        foreach (KeyValuePair<int, int> money in ChosenMoneyCards)
        {
            for (int x = 0; x < money.Value; x++)
            {
                OfferedMoneyCards.Add(money.Key);
            }
        }
        await SendMoneyCards(MessageType.PayOffer, OfferedMoneyCards);
    }

    public async Task SendMoneyCards(MessageType messageType, List<int> moneyCards)
    {
        //GameState.User.MoneyCards = GameState.User.MoneyCards.Except(moneyCards).ToList();
        Message message = new Message() { MessageType = messageType, Sender = gameState.User.Name };
        message.Objects.Add(moneyCards);
        await gameConnection.HubConnection.SendAsync("SendMessage", message);
    }

    public async Task SendSimpleMessage(MessageType messageType)
    {
        Message message = new Message() { MessageType = messageType, Sender = gameState.User.Name };
        await gameConnection.HubConnection.SendAsync("SendMessage", message);
    }

    //public async Task NextPlayer()
    //{
    //    Message message = new Message() { MessageType = MessageType.NextPlayer, Sender = gameState.User.Name };
    //    if (gameState.Players.Any(player => !gameState.PlayerOrder.Contains(player.Name)))
    //    {
    //        List<Player> NotChosenPlayers = gameState.Players.Where(player => !gameState.PlayerOrder.Contains(player.Name)).ToList();
    //        Random random = new Random();
    //        Player chosenPlayer = NotChosenPlayers[random.Next(0, NotChosenPlayers.Count())];
    //        message.Objects.Add(chosenPlayer.Name);
    //    }
    //    else
    //    {
    //        int index = gameState.PlayerOrder.FindIndex(player => player == gameState.CurrentPlayer.Name);
    //        message.Objects.Add(gameState.PlayerOrder[index == gameState.PlayerOrder.Count() - 1 ? 0 : index]);

    //    }
    //    await gameConnection.HubConnection.SendAsync("SendMessage", message);
    //}
}
