@using Microsoft.AspNetCore.SignalR.Client
@using KnaagdierenMarktGame.Shared
@using KnaagdierenMarktGame.Client.Classes
@inject GameConnection gameConnection
@inject GameState gameState
@using Newtonsoft.Json
@using Microsoft.Extensions.Localization
@using KnaagdierenMarktGame.Client.Resources
@inject IStringLocalizer<TestResource> L

<h1 class="Component-header">Login</h1>
@if (string.IsNullOrEmpty(Group.Name))
{
    <div class="form-group AlignTextCenter">
        <label>
            User:
            <input class="clean-input" @bind="UserName" @bind:event="oninput" required placeholder="username" />
        </label>
    </div>

    if (!string.IsNullOrEmpty(UserName) && !IsUserNameInUse())
    {
        <div class="GroupDecision-container">
            <div class="CreateGroup-container form-group">
                <h4>Make a group</h4>
                <input class="clean-input" @bind="GroupInput" @bind:event="oninput" placeholder="groupname" />
                <button @onclick="CreateGroup" disabled="@(!CanCreateGroup)">Create</button>
            </div>
            @*<button @onclick="Send" disabled="@(!IsConnected)">Send</button>
                <button @onclick="SendToGroup" disabled="@(!IsConnected)">SendToGroup</button>*@
            <div class="JoinGroup-container">
                <h4 class="AlignTextCenter">Join a group</h4>
                @if (groups.Count() == 0)
                {
                    <p>None available</p>
                }
                <ul>
                    @foreach (var group in groups)
                    {
                        <li>
                            @group.Name @group.Members.Count() / 2
                            @if (string.IsNullOrEmpty(Group.Name) && !IsUserNameInUse())
                            {
                            <button @onclick="() => JoinGroup(group)" disabled="@(!CanJoinGroup)">@group.Name @group.Members.Count() / 2</button>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
}
@if (Group != null)
{
    <button @onclick="LeaveGroup">Leave</button>
}
@*<hr>*@

@*<p>@L["Test"]</p>
    <p>@L["Nogmaar1"]</p>*@

@code {
    private List<Group> groups = new List<Group>();
    private Group Group = new Group();
    public string GroupInput { get; set; }
    public string UserName { get; set; }

    protected override void OnInitialized()
    {
        gameConnection.OnNewMessage += HandleMessage;
        base.OnInitialized();
    }

    protected async Task HandleMessage(MessageType messageType, object message)
    {
        switch (messageType)
        {
            case MessageType.InitGroups: InitGroups(message); break;
            case MessageType.GroupChanged: GroupChanged(message); break;
            case MessageType.LeavedGroup: LeaveGroup(JsonConvert.DeserializeObject<string>(message.ToString())); break;
            case MessageType.GroupDeleted: GroupDeleted(JsonConvert.DeserializeObject<Group>(message.ToString())); break;
            case MessageType.StartGame: StartGame(message.ToString()); break;
        }
        StateHasChanged();
    }

    public void StartGame(string startPlayer)
    {
        System.Diagnostics.Debug.WriteLine("GROUPMEMBERS");
        foreach (string groupmember in Group.Members)
        {
            System.Diagnostics.Debug.WriteLine(groupmember);
        }
        gameState.GameSetup(UserName, Group.Members, startPlayer);
        StateHasChanged();
    }

    public bool CanCreateGroup =>
        !string.IsNullOrEmpty(UserName) && !string.IsNullOrEmpty(GroupInput)
        && !groups.Any(group => group.Name.ToLower() == GroupInput.ToLower());

    public bool CanJoinGroup =>
         !string.IsNullOrEmpty(UserName) && string.IsNullOrEmpty(Group.Name);


    async Task CreateGroup()
    {
        Group = new Group() { Name = GroupInput };
        Group.Members.Add(UserName);
        await gameConnection.HubConnection.SendAsync("JoinGroup", Group);
    }

    async Task JoinGroup(Group selectedGroup)
    {
        Group = selectedGroup;
        Group.Members.Add(UserName);
        await gameConnection.HubConnection.SendAsync("JoinGroup", Group);
    }

    async Task LeaveGroup()
    {
        await gameConnection.HubConnection.SendAsync("LeaveGroup", UserName);
        LeaveGroup(UserName);
        Group = null;
        //User.Group = string.Empty;
    }


    public void GroupChanged(object message)
    {
        Group changedGroup = JsonConvert.DeserializeObject<Group>(message.ToString());
        if (groups.FirstOrDefault(group => group.Name == changedGroup.Name) is Group group)
        {
            group.Members = changedGroup.Members;
        }
        //moet beter kunnen...
        if (changedGroup.Name == Group.Name)
        {
            Group.Members = changedGroup.Members;
        }
        else
        {
            groups.Add(changedGroup);
        }
        // change according to the amount of players
        if (changedGroup.Members.Count >= 2)
        {
            GroupDeleted(changedGroup);
        }
    }

    public void LeaveGroup(string leavedUser)
    {
        // betere naamgeving
        Group group = groups.First(groupname => groupname.Members.Contains(leavedUser));
        group.Members.Remove(leavedUser);
    }

    public void GroupDeleted(Group deletedGroup)
    {
        Group group = groups.First(groupname => deletedGroup.Name == groupname.Name);
        groups.Remove(group);
    }

    public bool IsUserNameInUse() => groups.Any(group => group.Members.Any(member => member == UserName));

    public void InitGroups(object message)
    {
        groups = JsonConvert.DeserializeObject<List<Group>>(message.ToString());
    }
}
