@using Microsoft.AspNetCore.SignalR.Client
@using KnaagdierenMarktGame.Shared
@using KnaagdierenMarktGame.Client.Classes
@inject ServerConnection serverConnection
@inject GameState gameState
@inject PeerConnection peerConnection
@inject IJSRuntime JS;
@using Newtonsoft.Json


<Header Title="@(Group == null ? "Login" : "Lobby")" SmallHeaderText="@(Group == null ? "" : $"Waiting for {(Constants.MaxPlayers - Group.Members.Count())} more player(s)")" />
@if (Group == null)
{
    <div class="form-group AlignTextCenter">
        <label>
            User:
            <input class="clean-input" @bind="UserName" @bind:event="oninput" required placeholder="username" />
        </label>
    </div>

    if (IsViableUsername(UserName))
    {
        <div class="GroupDecision-container">
            <div class="CreateGroup-container form-group">
                <h4>Make a group</h4>
                <input class="clean-input" @bind="GroupInput" @bind:event="oninput" placeholder="groupname" />
                <button @onclick="CreateGroup" disabled="@(!CanCreateGroup)">Create</button>
            </div>
            <div class="JoinGroup-container">
                <h4 class="AlignTextCenter">Join a group</h4>
                @if (groups.Count() == 0)
                {
                    <p>None available</p>
                }
                <ul>
                    @foreach (var group in groups)
                    {
                        if (group.Members.Count() < Constants.MaxPlayers)
                        {
                            <li>
                                @if (Group == null)
                                {
                                    <button @onclick="() => JoinGroup(group)" disabled="@(!CanJoinGroup)">@($"{group.Name} {group.Members.Count()} / {Constants.MaxPlayers}")</button>
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
}
@if (Group != null)
{
    <div class="LoginWaitingScreen-container">
        <h5>@($"{Group.Name}")</h5>
        <ul>
        @foreach (Player member in Group.Members)
        {
            <li>@member.Name</li>
        }
        </ul>
        <button @onclick="LeaveGroup">Leave</button>
    </div>

}

@code {
    private List<Group> groups = new List<Group>();
    private Group Group = null;
    public string GroupInput { get; set; }
    public string UserName { get; set; }

    protected override void OnInitialized()
    {
        serverConnection.OnServerMessage += HandleMessage;
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeConnection");
        }
    }

    protected async Task HandleMessage(Message message)
    {
        switch (message.MessageType)
        {
            case MessageType.InitGroups: OnInitGroups(message); break;
            case MessageType.NewGroup: OnNewGroup(message); break;
            case MessageType.JoinedGroup: OnJoinedGroup(message); break;
            case MessageType.LeftGroup: OnLeftGroup(message); break;
            case MessageType.GroupDeleted: OnGroupDeleted(message); break;
            case MessageType.StartGame: OnStartGame(message); break;
        }
        await InvokeAsync(StateHasChanged);
    }

    public void OnInitGroups(Message message)
    {
        groups = JsonConvert.DeserializeObject<List<Group>>(message.Objects[0].ToString());
    }

    public void OnNewGroup(Message message)
    {
        Group newGroup = JsonConvert.DeserializeObject<Group>(message.Objects[0].ToString());
        groups.Add(newGroup);
        if (newGroup.Members.First().Name == UserName)
        {
            Group = newGroup;
        }
    }

    public void OnJoinedGroup(Message message)
    {
        Group changedGroup = JsonConvert.DeserializeObject<Group>(message.Objects[0].ToString());
        if (groups.FirstOrDefault(group => group.Name == changedGroup.Name) is Group group)
        {
            group.Members = changedGroup.Members;
        }
    }

    public void OnLeftGroup(Message message)
    {
        string leftUser = message.Objects[0].ToString();
        RemoveMemberFromGroup(leftUser);
    }

    public void OnGroupDeleted(Message message)
    {
        Group deletedGroup = JsonConvert.DeserializeObject<Group>(message.Objects[0].ToString());
        Group group = groups.Find(groupname => deletedGroup.Name == groupname.Name);
        groups.Remove(group);
    }

    public async void OnStartGame(Message message)
    {
        List<Player> playerOrder = JsonConvert.DeserializeObject<List<Player>>(message.Objects[0].ToString());
        await serverConnection.EndConnection();
        gameState.GameSetup(UserName, Group.Members, playerOrder);
    }

    public void RemoveMemberFromGroup(string username)
    {
        Group group = groups.Find(groupname => groupname.Members.Any(player => player.Name == username));
        Player leftPlayer = group.Members.Find(player => player.Name == username);
        group.Members.Remove(leftPlayer);
    }

    public bool CanCreateGroup =>
        !string.IsNullOrEmpty(UserName) && !string.IsNullOrEmpty(GroupInput)
        && !groups.Any(group => group.Name == GroupInput);

    public bool CanJoinGroup =>
         !string.IsNullOrEmpty(UserName) && Group == null;


    async Task CreateGroup()
    {
        await serverConnection.HubConnection.SendAsync("CreateGroup", GroupInput, UserName, peerConnection.PeerID);
    }

    async Task JoinGroup(Group selectedGroup)
    {
        Group = selectedGroup;
        Group.Members.Add(new Player(UserName, peerConnection.PeerID));
        await serverConnection.HubConnection.SendAsync("JoinGroup", Group.Name, UserName, peerConnection.PeerID);
    }

    async Task LeaveGroup()
    {
        await serverConnection.HubConnection.SendAsync("LeaveGroup", UserName, Group.Name);
        //await serverConnection.HubConnection.SendAsync("LeaveGroup", UserName, Group);
        RemoveMemberFromGroup(UserName);
        Group = null;
    }

    public bool IsViableUsername(string username) => !string.IsNullOrEmpty(UserName) && !groups.Any(group => group.Members.Any(player => player.Name == username));

}
